h1, h2, h3 {
    margin: 0;
    padding: 0.5em 0;
    box-shadow: 0 2px 0px #0000003f
}

a {
    font-family: sans-serif;
}

pre {
    background-color: #EEE;
    padding: 1em;
    overflow: auto;
    /*
    white-space: pre-wrap;
    word-break: keep-all;
    */
}

code {
    font-size: 16px;
    font-family: Consolas, monospace;
    line-height: 16px;
    padding: 3px 7px;
    background-color: #EEE;
}

pre>code {
    padding: 0;
    background-color: unset;
}

blockquote {
    background-color: #EEE;
    margin: 0;
    padding: 0.5em 1em;
    box-shadow: -0.3em 0px #55F;
}

blockquote>p {
    margin: 0;
}

table {
    border-collapse: collapse;
}

th, td {
    border: 1px solid black;
    padding: .1em .5em;
}

ul, ol {
    padding-inline-start: 20px;
}





#blog {
    margin: 10em 20% 10em 20%;
}

#blog_title {
    padding: 30px 0;
    font-weight: bold;
    font-size: 50px;
    line-height: 60px;
    text-align: center;
}

#blog_time {
    font-size: 0.8em;
    text-align: center;
    padding: 10px 0;
}

#blog_preview {
    color: #555;
    background-color: #EEE;
    padding: 0.5em 1em;
}

#blog_content {
    /* No padding seems better
    padding: 0.6em 5%;
    */
}

#blog_tags {
    padding: 30px 0;
    text-align: center;
}





.tag {
    display: inline-block;
    color: #777;
}

.tag:not(:last-child)::after {
    content: ' | ';
}

.latex {
    display: inline;
    /*
    font-family: sans-serif;
    overflow-x: auto;
    */
}

/* Still no way to overflow the matchjax
.MJX-TEX {
    font-family: sans-serif;
    display: inline;
    overflow-x: auto;
}
*/